.panel{
    background-color:rgba(235, 236, 240, 1);
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    width: 282px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.panelContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.panelHeader{
    padding-bottom: 15px;
}
.panelFooter{
    padding-top: 15px;
}

@media screen and (max-width: 1240px){
    .panel{
        width: auto;
        flex-shrink: initial;

    }

}

@media screen and (max-width: 768px){
    .panel{
        width: auto;

    }

}